{% extends "base.html" %}

{% block title %}Bookmarks{% endblock %}

{% block content %}


<h1>Bookmark Folders</h1>

{% for folder in folders %}
  <h5>{{ folder.name }}</h5>
   <ul>
      {% for bookmark in folder.bookmarks.all %}
      <li>
        <a href="{{bookmark.link}}" target="_blank">
          {{ bookmark.name }}
          </a>
      </li>
      {% endfor %}
  </ul>
  <hr>
{% endfor %}

<a href="{% url 'moviereviews:index' %}" class="btn btn-primary mt-3">Back to home</a>

{% endblock %}
